*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.navbar{
    height: 60px;
    background-color: #0E273C;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.nav-name{
    font-size: 20px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    transition: transform 2s ease-in 0.5s;
}
.nav-name:hover{
    transform: rotate(360deg);
    cursor: pointer;
    color: red;
}
.nav-name::after {
    content: "Design. Develop. Deliver. | Mariam Khan at your service.";
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    text-align: center;
    color: white;
    background-color: #0F1111;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.nav-name:hover::after {
    opacity: 1;
    visibility: visible;
}
.nav-pages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-pages a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.nav-pages a:hover{
    color: red;
    text-decoration: underline;
}
.nav-pages a:active{
    color: yellow;
}
/* About section */
.about{
    background-color: #4A306D;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 180px 200px 100px 300px;
    column-gap: 40px;
    color: white;
}
.image{
    /* background-color: aqua; */
    /* position: relative; */
    overflow: hidden;
}
.image img{
    height: 300px;
    border-radius: 170px;
}
/* .bio{
    background-color: #A167A5;
} */
.about p{
    margin-top: 40px;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.about h1, .about h2 , .about h3, .about button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.about button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #0E273C;
    color: white;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    background-color: aliceblue;
}
button:active{
    color: red;
}

/* skills section */
.skills{
    height: 450px;
    background-color: #4A306D;
}   
.skills-list{
    background-color: antiquewhite;
    height: 350px;
    margin: 0 100px 20px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills-list h2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.skills-list h2:hover{
    animation: skillAnimate 5s ease-in forwards;
    cursor: pointer;
}
.progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress {
    background-color: #D3BCCC;
    height: 100%;
    width: 0;
    border-radius: 10px;
}

@keyframes skillAnimate{
    from{
        color: black;
        font-size: 40px;
    }
    to{
        color: #D3BCCC;
        font-size: 100px;
    }
}