body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: 	#1d3849;
    margin: 0;
}

.container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #141414;
    box-shadow: 0 0 10px #fff;
}
.container h1{
    color: #eee;
    text-align: center;
}
input{
    font-size: 2em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
    background-color: #a2bbcf;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    font-size: 1.5em;
    padding: 20px;
    background-color: #a2bbcf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1d3849;
    color: #fff;
    border: 2px solid #ccc;
}